
    
  <footer class="fixed-bottom bg-surface-container-low border-t border-outline-variant px-margin-desktop mt-auto py-4">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between gap-12">
      <!-- Brand & Description -->
      <div class="flex-1 ">
        <div class="flex items-center gap-2 mb-4">
          <div class="w-8 h-8 bg-primary rounded flex items-center justify-center text-on-primary">
              <span class="material-symbols-outlined">
                dataset
              </span>
          </div>
          <span class="font-headline-sm text-headline-sm font-bold text-primary">EducaData Brasil</span>
        </div>
        <p class="text-on-surface-variant font-body-md leading-relaxed">
          Plataforma aberta de análise e visualização de dados educacionais públicos do Brasil. Transformando números em insights para uma gestão escolar mais eficiente.
        </p>
      </div>      
    </div>

    <!-- Bottom Bar -->
    <div class="max-w-7xl mx-auto border-t pt-2 pb-2 border-outline-variant flex flex-col md:flex-row justify-between items-center ">
      <p class="text-on-surface-variant font-label-md">
        © 2025 EducaData Brasil.
      </p>
      <div class="flex gap-6"><a href="#" class="text-on-surface-variant hover:text-primary transition-all">
        <span class="material-symbols-outlined">
          photo_camera
        </span>
      <a href="#" class="text-on-surface-variant hover:text-primary transition-all">
        <span class="material-symbols-outlined">
          work        
        </span>
      </a>
    </div>
  </div>
</footer>
