 <header class="bg-surface flex justify-between items-center w-full px-margin-desktop h-16 sticky top-0 z-50 border-b border-outline-variant flat no shadows">
    <div class="flex items-center gap-md">
            <!-- Mobile Menu Button (hidden on desktop) -->
            <button class="md:hidden text-on-surface-variant hover:bg-surface-container-high transition-colors p-2 rounded-full active:opacity-80">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        <div class="font-headline-md text-headline-md font-bold text-primary hidden md:block">
            EducaData Brasil
        </div>        
    </div>
</header>